@using BookstoreNew.Models
@model IEnumerable<Book>
@{int i = 1;}


<h1 class="text-decoration-underline text-center text-info">Books</h1>

<p>
    <a asp-action="CreateBook" asp-controller="Book" class="btn btn-outline-info">Create New Book</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row" class="font-weight-bold col-1">
                      @(i++)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="col-7">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-2"> 
                    <a href='@Url.Action("EditBook", new {  id=item.Id  } )'><i class="bi bi-pencil-square"></i></a>
                    <a href='@Url.Action("DetailsBook", new {  id=item.Id  } )'><i class="bi bi-calendar3-week"></i></a>
                    <a href='@Url.Action("DeleteBook", new {  id=item.Id  } )'><i class="bi bi-trash"></i></a>
            </tr>
        }
    </tbody>
</table>
